body {
    display: flex;
    flex-direction: column;
}

.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* flex-basis: 0; */
}

/* .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav  {
    display: flex;
    gap: 18px;
    justify-content: space-around;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.office {
    width: 300px;
    height: auto;
}

.item {
    width: 150px;
}